# Total steps
total_steps = 2
# Users to be created per step
users_per_step = 75
# Friendships (rooms) based on: total possible friendships * friendship ratio
friendship_ratio = 0.1
# Step total duration
step_duration_in_secs = 30
# Tick duration where users interact each other
tick_duration_in_secs = 5
# Max users to act per tick during a step
max_users_to_act_per_tick_ratio = 0.2
# Time to wait for all messages to be delivered, after that time they are considered as lost
waiting_period = 30
# Enable retry request configuration
retry_request_config = false
# User creation retry attempts (not related to retry_request_config)
user_creation_retry_attempts = 5
# Room creation retry attempts (not related to retry_request_config)
room_creation_retry_attempts = 5
# Room creation retry attempts for the max resource error
room_creation_max_resource_wait_attempts
# Max throughput allowed for users initialization (registration and sync)
user_creation_throughput = 10
# Max throughput allowed for room creation
room_creation_throughput = 20
# Update the client's homeserver URL with the discovery information present in the login response, if any.
# In case of localhost, you probably want to set as false.
respect_login_well_known = true
# Count of users to work with (create/erase)
user_count = 3000
